@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

* {
	box-sizing: border-box; /* Padding y borde no incrementan el ancho */
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	font-family: 'Univers Next Pro', 'Open Sans', sans-serif;
	color: #333333;
}

h1 {
	font-weight: 300;
	line-height: 1.1em;
}

h2 {
	font-weight: 300;
}

h3 {
	font-weight: 300;
}

p {
	font-size: 16px;
	margin-top: 15px;
}

ul li {
	font-size: 18px;
	line-height: 1.6em;
}

a {
	
}

a:link {
	color: inherit;
	text-decoration: none;
}

a:visited {
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: #c5ae8c;
}

hr {
	border: none;
	border-bottom: 2px solid #666666;
	background-image: url(../img/hr.png);
	background-repeat: no-repeat;
	background-size: 100%;
	margin:0;
}

/*HEADER*/

header {
	position: fixed;
	z-index: 9999;
	top: 0px;
	width: 100%;
}

header .container {
	position: relative;
}

header .cta {
	margin-left: 30px;
	padding: 8px 30px 8px;
}

header .logo {
	margin-top: 20px;
}

header .logo img {
	max-width: 50px;
	width: 100%;
}

/* change header */

header.hdr-small {
	background-color: rgba(0, 0, 0, 0.4);
	height: 80px;
}

header.hdr-small .logo {
	margin-top: 20px;
}

header.hdr-small nav.nav-main {
	margin-top: 20px;
}

/* end change header */

/*NAV*/

nav.nav-main {
	background-color: #282627;
	width: 100%;
	display: none;
	margin-top: 20px;
	z-index: 9999;
}

nav.nav-main ul {
	padding: 0;
	margin-bottom: 0;
	text-align: center;
}

nav.nav-main ul li {
	color: #ffffff;
	list-style-type: none;
	font-size: 14px;
	border-bottom: 1px solid #c4c4c4;
	font-weight: normal;
}

nav.nav-main ul li a {
	color: #ffffff;
	display: inline-block;
	padding: 18px;
	text-decoration: none;
}

nav.nav-main .btn {
	margin-top: 3px;
}

/*FOOTER*/

footer {
	background-color: #282627;
	text-align: center;
	padding: 60px 0 0;
}

footer img {
	width: auto;
}

footer p {
	color: #fff;
	font-weight: 300;
	margin-bottom: 40px;
}

footer .row {
	width: 100%;
}

footer .logo {
	width: 167px;
	margin-bottom: 20px;
}

footer a:link, footer a:visited, .legales a {
	color: #c5ae8c;
}

.legales {
	margin-top: 60px;
	padding-bottom: 40px;

}

.legales p {
	color: #fafafa;
	font-size: 0.8em;
	text-align: justify;
	text-justify: inter-word;
	margin-top: 0;
	margin-bottom: 20px;
}

.legales p:first-of-type {
	padding-top: 40px;
	border-top: 1px solid #555;
}

.legales p:last-of-type {
	margin-bottom: 0;
}

footer .iconos ul {
	text-align: center;
	margin-bottom: 0;
	width: 100%;
}

footer .iconos ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0 9px;
}

div.ssn {
	padding: 10px 0;
}

div.ssn .logo {
	max-width: 164px;
	width: 100%;
}

div.ssn ul {
	margin-bottom: 0;
	text-align: center;
	vertical-align: middle;
	padding-left: 0;
}

div.ssn ul li {
	font-size: 12px;
	line-height: 1.4em;
	color: #000;
	list-style-type: none;
	padding: 20px 0;
	border-bottom: 1px solid #666;
}

div.ssn ul li a {
	color: #000 !important;
	font-weight: bold;
	vertical-align: middle;
}


/* TOGGLE BUTTON */

.toggle-button {
	position: absolute;
	display: block;
	width: 40px;
	margin: 0 auto 30px;
	top: 25px;
	right: 15px;
	z-index: 999;
}

.toggle-button span {
	display: block;
	height: 30px;
	border-top: solid 2px #fff;
	border-bottom: solid 2px #fff;
	position: relative;
}

.toggle-button span:hover {
	-ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
 	-webkit-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s; 
}

.toggle-button span:after {
	content:"";
	width: 100%;
	height: 2px;
	background:#fff;
	display: block;
	top: 50%;
	position: absolute;
	margin-top: -1px;
}

/* -- CONTENIDO -- */

/* Slider */

section.cont-slider .container, section.cont-slider .container .row {
	height: 100%;
}

.owl-carousel {
	z-index: auto !important;
	overflow: hidden;
}

#slider a {
	text-decoration: none;
}

#slider .item {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 500px;
}

#slider .item .txt {
	color: #fff;
	padding: 20px 40px;
	text-align: center;
}

#slider .item h1 {
	color: #fff;
	font-size: 35px;
	font-weight: 300;
	line-height: 1.1em;
	margin-bottom: 0;
	text-transform: uppercase;
}

#slider .item-01 {
	background-image: url(../img/slide-01-m.jpg);
}

#slider .item-02 {
	background-image: url(../img/slide-02-m.jpg);
}

#slider .item-03 {
	background-image: url(../img/slide-03-m.jpg);
}

#slider .owl-controls {
	margin-top: 0;
}

#slider .owl-controls .owl-nav div {
	background: none;
}

#slider .owl-dots .owl-dot span {
	background: #fff;
	border-radius: 0;
	height: 4px;
	width: 30px;	
}

#slider .owl-prev {
    width: 50px;
    position: absolute;
    top: 45%;
    left: 0;
 }

#slider .owl-next {
    width: 50px;
    position: absolute;
    top: 45%;
    right: 0;
}

#slider .owl-dots {
	position: absolute;
    bottom: 20px;
	width: 100%;
	z-index: 999;
}

#slider .btn-play {
	position: absolute;
	width: 76px;
	bottom: 70px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

#slider .btn-play img {
	width: 76px;
	height: 76px;
}

section#hero {
	/*background-image: url(../img/bg-hero-m.jpg);
	background-size: cover;
	height: 100vh;*/
}

section#hero .container, section#hero .row {
	height: 100%;

}

section#hero h1 {
	color: #fff;
	max-width: 800px;
	width: 100%;
}

section#hero h2 {
	color: #c5ae8c;
}

section#hero p {
	color: #fff;
}

section#hero .btn {
	margin-top: 15px;
}

section#caracteristicas {
}

section#caracteristicas .container {
	padding-top: 40px;
	padding-bottom: 40px;
}

section#como h3 {
	max-width: 600px;
	width: 100%;
}

section#como .box-ico {
	margin-top: 44px;
}

section#como .box-ico p {
	color: #c5ae8c;
}

section#como .container {
	padding-top: 40px;
	padding-bottom: 40px;
}

section#info .container {
	padding-top: 40px;
	padding-bottom: 40px;
}

section#info table {
	margin-top: 40px;
}


section#info h4 {
	font-weight: 300;
}

section#info h4 a {
	color: #c5ae8c;
}

section#info h4 a:hover {
	color: #333;
}

section#faq {
	background-color: #fafafa;
	background-image: url(../img/bg-faq.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

section#faq .container {
	padding-top: 40px;
	padding-bottom: 40px;
}

section#faq .accordion {
	margin-top: 20px;
	margin-bottom: 40px;
}

section#faq .accordion .btn-link {
	color: #333333;
}

section#faq .accordion .card-header {
	background-color: #fafafa;
	padding-top: 8px;
	padding-bottom: 6px;
}

section#faq .accordion .card-body, section#faq .accordion .card-body ul li {
	font-size: 14px;
}

section#faq .accordion .card-body ul {
	margin-top: 10px;
}

section#faq .accordion .card-body ul li {
	line-height: 22px;
}

.box-ico {
	margin-top: 30px;
	text-align: center;
}

.box-ico p {
	    font-size: 16px;
    color: #666666;
    font-weight: 100;
    line-height: 1.2em;
    margin-top: 10px;
}

section.destacado {
	/*height: 300px;*/
	background-image: url(../img/bg-parallax-m.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	background-position: center;
}

section.destacado .container-fluid, section.destacado .row {
	height: 100%;
}

section.destacado h2 {
	font-weight: 500;
	color: #fff;
}

section#canales {
	background-color: #000;
	background-image: url(../img/bg-canales.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

section#canales h2 {
	color: #fff;
}

section#canales .container {
	padding-top: 40px;
	padding-bottom: 40px;
}

section#canales .box {
	margin-top: 60px;
}

section#canales .box a {
	position: relative;
	color: #fff;
}

section#canales .box a:hover {
	color: #c5ae8c;
}

section#canales .box a img {
	position: relative;
	display: inline-block;
	top: 0;
} 

section#canales .box a:hover img {
	top: -10px;
}

section#canales .box a:hover p {
	color: #c5ae8c;
}


section#canales p, section#canales ul li {
	color: #fff;
}

section#canales .claves {
	margin-top: 60px;
}

section#canales .claves h3 {
	color: #c5ae8c;
	margin-bottom: 30px;
}

section#txt-cliente {
	background-color: #c5ae8c;
}

section#txt-cliente .container {
	padding-top: 40px;
	padding-bottom: 40px;
}

section#txt-cliente {
	color: #fff;
}

section#txt-cliente a {
	color: #000;
}

/* TABLAS */

.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 1px;
}

.table thead th {
	background-color: #c5ae8c;
	color: #ffffff;
}

.table-bordered td, .table-bordered th {
	border: 1px solid #c5ae8c;
}

/* Reset botones */

.btn {
    border: none !important;
    text-decoration: none !important;
    margin-bottom: 5px;
    border-radius: 3;
    padding: 10px 30px;

}

a.btn-primary {
	color: #fff;
}

.btn-primary {
	background-color: #c5ae8c;
}

.btn-primary:hover {
	color: #fff !important;
	background-color: #000000;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn:active.focus,
.btn.active.focus {
	background-color: #333 !important;
	box-shadow: none;
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn-link {
	padding-left: 0;
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s; 
}

.btn-link:focus,
.btn-link:active:focus,
.btn-link.active:focus,
.btn-link:active.focus,
.btn-link.active.focus {
	color: #c5ae8c !important;
	background-color: transparent !important;
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s; 
}

.foto-resp {
	max-width: auto;
	width: 100%;
}

strong {
	font-weight: 500;
}

/* Reset Glow Azul*/

.form-control:focus {
 /* border-color: #e4e4e4 !important;*/
  -webkit-box-shadow: 0 0 5px rgba(180, 180, 180, 1) !important;
          box-shadow: 0 0 5px rgba(180, 180, 180, 1) !important;
}

.transition {
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s; 
}

.fw-700 {
	font-weight: 700;
}

/****************************/
	
	
/*FUENTES*/
@font-face {
    font-family: 'Univers Next Pro';
    src: url('../fonts/UniversNextPro-Light.eot');
    src: url('../fonts/UniversNextPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UniversNextPro-Light.woff2') format('woff2'),
        url('../fonts/UniversNextPro-Light.woff') format('woff'),
        url('../fonts/UniversNextPro-Light.ttf') format('truetype'),
        url('../fonts/UniversNextPro-Light.svg#UniversNextPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Univers Next Pro';
    src: url('../fontsUniversNextPro-Regular.eot');
    src: url('../fontsUniversNextPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fontsUniversNextPro-Regular.woff2') format('woff2'),
        url('../fontsUniversNextPro-Regular.woff') format('woff'),
        url('../fontsUniversNextPro-Regular.ttf') format('truetype'),
        url('../fontsUniversNextPro-Regular.svg#UniversNextPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Univers Next Pro';
    src: url('../fonts/UniversNextPro-Italic.eot');
    src: url('../fonts/UniversNextPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UniversNextPro-Italic.woff2') format('woff2'),
        url('../fonts/UniversNextPro-Italic.woff') format('woff'),
        url('../fonts/UniversNextPro-Italic.ttf') format('truetype'),
        url('../fonts/UniversNextPro-Italic.svg#UniversNextPro-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Univers Next Pro';
    src: url('../fonts/UniversNextPro-Bold.eot');
    src: url('../fonts/UniversNextPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UniversNextPro-Bold.woff2') format('woff2'),
        url('../fonts/UniversNextPro-Bold.woff') format('woff'),
        url('../fonts/UniversNextPro-Bold.ttf') format('truetype'),
        url('../fonts/UniversNextPro-Bold.svg#UniversNextPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Univers Next Pro';
    src: url('../fonts/UniversNextPro-Medium.eot');
    src: url('../fonts/UniversNextPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UniversNextPro-Medium.woff2') format('woff2'),
        url('../fonts/UniversNextPro-Medium.woff') format('woff'),
        url('../fonts/UniversNextPro-Medium.ttf') format('truetype'),
        url('../fonts/UniversNextPro-Medium.svg#UniversNextPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}


/****************************/
/* MEDIA QUERIES */
/****************************/

/* 767 */
@media screen and (min-width: 767px) {

#slider .item h1 {
	font-size: 50px;
}

section.destacado {
	height: 600px;
}

}

/* 992 */
@media screen and (min-width: 992px) {

section#hero {
	/*background-image: url(../img/bg-hero.jpg);*/
}

p {
	font-size: 18px;
}

#slider .item {
	height: 450px;
}

#slider .item-01 {
	background-image: url(../img/slide-01.jpg);
}

#slider .item-02 {
	background-image: url(../img/slide-02.jpg);
}

#slider .item-03 {
	background-image: url(../img/slide-03.jpg);
}

#slider .btn-play {
	opacity: 0.5;
	bottom: 70px;
}

#slider a:hover .btn-play {
	opacity: 1;
}

section#canales p {
	font-size: 18px;
}

}

section#como{
	background-color: #212529;
    background-image: url(../img/wooden-plank-close-up.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
section.destacado {
	background-image: url(../img/header-bg3.jpg);
	
	background-size: 100%;
	background-attachment: fixed;
	background-color: black
}
/* 1280 */
@media screen and (min-width: 1200px) {


nav.nav-main {
	background-color: transparent;
	margin-top: 18px;
	display: block !important;
}

nav.nav-main ul {
	padding: 0;
	text-align: right;
	margin-bottom: 0;
}

nav.nav-main ul li {
	display: inline-block;
	border-bottom: none;
	border-left: 1px solid #d0d0d0;
	margin: 6px 0;
	margin-left: -5px;
}

nav.nav-main ul li:first-child {
	border-left: none;
}

nav.nav-main ul li a {
	border-bottom: 3px solid transparent;
	padding: 8px 20px 6px;
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s; 
}

nav.nav-main ul li a:hover {
	color: #c5ae8c;
	border-bottom: 3px solid #c5ae8c;
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s; 
}

nav.nav-main ul li a.cta {
	padding: 8px 30px 8px;
}

h1 {
	font-size: 50px;
}

header .logo {
	margin-top: 25px;
}

nav.nav-main {
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s; 
}

header.hdr-small nav.nav-main {
	margin-top: 10px;
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s; 
}

.seccion h2 {
	font-size: 50px;
}

section#caracteristicas {
	margin-top: -76px;
}

section#caracteristicas .container {
	padding-top: 0px;
	padding-bottom: 40px;
}



section#como .container {
	padding-bottom: 60px;
}

section.destacado h2 {
	font-size: 50px;
}

section#info .container {
	padding-top: 60px;
	padding-bottom: 60px;
}

section#faq .container {
	padding-top: 60px;
	padding-bottom: 60px;
}

section#canales .container {
	padding-top: 60px;
	padding-bottom: 60px;
}

section#txt-cliente .container {
	padding-top: 60px;
	padding-bottom: 60px;
}

.toggle-button {
	display: none;
}

div.ssn {
	padding-top: 0;
}

div.ssn ul {
	display: table;
	margin: auto;
	border-top: 1px solid #efefef;
	padding-top: 10px;
	margin-top: 0;
	width: 100%;
}

div.ssn ul li {
    display: table-cell;
	border-left: 1px solid #000;
	height: 30px;
	padding: 0 20px;
	border-bottom: 0;
	margin: 0;
	vertical-align: middle;
}

div.ssn ul li:first-of-type {
	border-left: none;
}


} 


/* 1360 */
@media screen and (min-width: 1360px) {

p {
	font-size: 20px;
	font-weight: 300;
}

h1 {
	font-size: 54px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

.seccion h2 {
	font-size: 54px;
	margin-bottom: 20px;
}

#slider .item {
	height: 550px;
}

#slider .item h1 {
	font-size: 66px;
}

section#como .container {
	padding-bottom: 80px;
}

section.destacado {
	height: 650px;
}

section.destacado h2 {
	font-size: 65px;
}

section#info .container {
	padding-top: 80px;
	padding-bottom: 80px;
}

section#faq .container {
	padding-top: 80px;
	padding-bottom: 80px;
}

section#canales .container {
	padding-top: 80px;
	padding-bottom: 80px;
}

section#txt-cliente .container {
	padding-top: 80px;
	padding-bottom: 80px;
}

}

/* 1600 */
@media screen and (min-width: 1600px) {

p {
	font-size: 24px;
}

h1 {
	font-size: 68px;
}

.seccion h2 {
	font-size: 58px;
}


#slider .item {
	height: 700px;
}

#slider .item h1 {
	font-size: 80px;
}

#slider .btn-play {
	bottom: 90px;
}

section.destacado {
	height: 700px;
}


section.destacado h2 {
	font-size: 70px;
}

}

/* 1900 */
@media screen and (min-width: 1900px) {

#slider .item {
	height: 750px;
}

section.destacado {
	height: 800px;
}

}

.parallax {
  /* The image used */
  background-image: url("../img/bg-hero.jpg");

  /* Set a specific height */
  min-height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-overlay {
  background: rgba(0, 0, 0, 0.7);
  padding: 6rem 0;
}

section#contact {
    background-color: #212529;
    background-image: url(../img/wines.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}